
:root {
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(250, 1%, 48%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.sideBar{
    background: var(--whiteColor);
    box-shadow: 1px 0 4px var(--greyText);
    width: 16%;
    height: 100%;
    gap: 7rem;
    padding-left: 2rem;
    overflow: auto;

    .logoDiv{
        padding: 1.5rem 1.5rem 0;
        cursor: pointer;

        img {
            max-width: 20px;
            margin-right: 1rem;
            background: var(--inputColor);
            padding: .2rem;
        }

        h2{
            font-size: var(--h2FontSize);
            color: var(--primaryColor);
        }
    }
}

    h3 {
        padding-bottom: 2rem;
    }

    

    .divTittle{
        font-size: var(--h3FontSize);
        color: var(--textColor);
        padding: 0 1.5rem 1.5rem;
    }

    .menuLists{
        .listItem{
            padding: .2rem 1.5rem;
            width: 100%;
            position: relative;
        }

        &::before{
            position: absolute;
            content: '';
            height: 0%;
            left: 0;
            width: 5px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background: var(--primaryColor);
        }

        .menuLink{
            color: var(--blackColor);
            font-weight: 500;
            transition: 0;
            .icon{
                margin-right: .5rem;
            }
        }

        &:hover .menuLink{
            color: var(--blackColor);
            transition: 0;

        }

        &:hover::before{
            height: 100%;
            transform: .3s ease;
        }
    }



.sideBarCard{
        width: 100%;
        padding-left: 1rem;
        text-align: center;
        position: relative;

        .icon{
            position: absolute;
            background: var(--hoverColor);
            font-size: 3rem;
            border-radius: 50%;
            top: -40px;
            left: 80px;
            right: 50%;
            transform: translate(50%);
            z-index: 100;
        }

        .cardContent{
            position: relative;
            padding: 1rem;
            background: var(--hoverColor);
            border-radius: 10px;
            overflow: hidden;
            left: -22px;
            top: -20px;
        }

        h3{
            font-size: var(--h3FontSize);
            margin-top: 1rem;
            padding: 1rem 0;
            font-size: 800;
            color: var(--blackColor);
        }

        p{
            font-size: var(--normalFontSize);
            color: var(--textColor);
            padding-bottom: 1rem;
            font-weight: 500;
        }

        .btn{
            position: relative;
            color: var(--textColor);
            z-index: 100;
        }

        .circule1, .circule2{
            position: absolute;
            background: var(--paleGreen);
            border-radius: 50%;
            opacity: .7;
            z-index: 1;
        }

        .circule1{
            height: 100px;
            width: 100px;
            top: -50px;
            right: -50px;
            left: -30px;
        }

        .circule2{
            height: 150px;
            width: 150px;
            bottom: -80px;
            right: -70px;
            z-index: 1;
        }
    }