:root {
  --primaryColor: #87cd51;
  --hoverColor: #bdf094;
  --paleGreen: #dff8ce;
  --whiteColor: white;
  --blackColor: #2e2e2e;
  --textColor: #7a797c;
  --greyText: #bfbfbf;
  --bgColor: #d6ddd5;
  --inputColor: #f8f6f7;
  --itemCardColor: #dfe2df;
  --itemCardShadow: #d5e7d5;
  /* --inputColor: hsl(154,14%,90%); */
  /*FONT AND TYPOGRAPHY*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.listeningSection {
  flex-basis: 70%;
}

.listeningSection .heading {
  width: 100%;
  justify-content: space-between;
}

.listeningSection .heading h1 {
  font-size: var(--h2FontSize);
  color: var(--blackColor);
  font-weight: 700;
}

.listeningSection .heading .btn {
  border: 1px solid transparent;
  font-weight: 500;
}

.listeningSection .heading .btn:hover {
  border: 1px solid var(--primaryColor);
}

.listeningSection .secContainer {
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listeningSection .secContainer .singleItem {
  position: relative;
  height: 200px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  background: var(--itemCardColor);
}

.listeningSection .secContainer .singleItem:hover {
  background: var(--itemCardShadow);
  box-shadow: 0 2px 2px var(--inputColor);
}

.listeningSection .secContainer .singleItem img {
  max-width: 100%;
}

.listeningSection .secContainer .singleItem .icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--primaryColor);
}

.listeningSection .secContainer .singleItem h3 {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  padding: 1rem 0;
}

.listeningSection .especialistas {
  justify-content: space-between;
  gap: 1rem;
  align-self: center;
}

.listeningSection .especialistas .medicos .heading {
  padding: 2rem 0;
}

.listeningSection .especialistas .medicos .heading .btn {
  padding: .5rem 1rem;
}

.listeningSection .especialistas .medicos .card {
  padding: .5rem;
  border-radius: 1rem;
  background: var(--itemCardColor);
  gap: 1.5rem;
  box-shadow: 0 2px 4px var(--inputColor);
}

.listeningSection .especialistas .medicos .card .medicos {
  padding-left: .1rem;
  border-right: 2px solid var(--greyText);
}

.listeningSection .especialistas .medicos .card .medicos img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: .5rem;
  object-fit: cover;
  border: 2px solid var(--inputColor);
  transition: .5 ease;
}

.listeningSection .especialistas .medicos .card .medicos img:hover {
  transform: translateY(-10px);
}

.listeningSection .especialistas .medicos .card .cardText span {
  color: var(--blackColor);
  font-size: 500;
}

.listeningSection .especialistas .medicos .card .cardText span small {
  font-weight: 400;
}

.listeningSection .especialistas .medicos .card .cardText span small .dataEsp {
  color: var(--paleGreen);
}
