:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(250, 1%, 48%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardShadow: hsl(120, 27%, 87%);
  /* --inputColor: hsl(154,14%,90%); */
  /*FONT AND TYPOGRAPHY*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.listeningSection{
  flex-basis: 70%;

  .heading{
    width: 100%;
    justify-content: space-between;

    h1{
      font-size: var(--h2FontSize);
      color: var(--blackColor);
      font-weight: 700;
    }

    .btn{
      border: 1px solid transparent;
      font-weight: 500;
    }

    .btn:hover{
      border: 1px solid var(--primaryColor);
    }
  }

  .secContainer{
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .singleItem{
      position: relative;
      height: 200px;
      width: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;
      border-radius: 10px;
      background: var(--itemCardColor);

      &:hover{
        background: var(--itemCardShadow);
        box-shadow: 0 2px 2px var(--inputColor);
      }

      img{
        max-width: 100%;
      }

      .icon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--primaryColor);
      }

      h3{
        font-size: var(--h3FontSize);
        color: var(--blackColor);
        padding: 1rem 0;
      }
    }


    }

    .especialistas{
      
      justify-content: space-between;
      gap: 1rem;
      
      align-self:center;
      .medicos{
        .heading{
          padding: 2rem 0;
          .btn{
            padding: .5rem 1rem;
          }
        }
        .card{
          padding: .5rem;
          border-radius: 1rem;
          background: var(--itemCardColor);
          gap: 1.5rem;
          margin-bottom: 2rem;
          box-shadow: 0 2px 4px var(--inputColor);

          .medicos{
            padding-left: .1rem;
            border-right: 2px solid var(--greyText);

            img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: .5rem;
              object-fit: cover;
              border: 2px solid var(--inputColor);
              transition: .5 ease;

              &:hover{
                transform: translateY(-10px);
              }
            }
          }
          .cardText{
            span{
              color: var(--blackColor);
              font-size: 500;
              small{
                font-weight: 400;
                .dataEsp{
                  color: var(--paleGreen);
                }
              }
            }
          }
        }
      }
    }
}