@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease;
}

:root {
    --primaryColor: hsl(0, 80%, 53%);
    --hoverColor: hsl(209, 94%, 54%);
    --paleGreen: hsl(49, 86%, 49%);
    --whiteColor: hsl(0, 87%, 40%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(250, 1%, 48%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
     --inputColor: hsl(154,14%,90%); 

    /*FONT AND TYPOGRAPHY*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

html {
    font-size: 90%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon {
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}


 .flex {
     display: flex;
     align-items: center;
 }

.grid {
    display: grid;
    align-items: center;
    gap: 1.5rem;
}


.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--inputColor);
    padding: .8rem 1rem;
    color: var(--textColor);
}

.btn .icon {
    margin-left: .5rem;
}

.btn:hover {
    background-color: var(--paleGreen);
    color: var(--primaryColor);
}


 .container {
     position: relative;
     width: 95vw;
     height: 95vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--bgColor);
    overflow: hidden;
     border-radius: 1rem;
    box-shadow: 2px 2px 9px var(--greyText);
}

.error-message {
    color: #721c24; /* Color del texto, rojo oscuro para más visibilidad */
    background-color: #f8d7da; /* Fondo claro rojizo para contraste */
    border: 1px solid #f5c6cb; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados para un look moderno */
    padding: 10px 20px; /* Espaciado interno para no tener el texto pegado al borde */
    margin: 20px; /* Margen alrededor del mensaje para separarlo de otros elementos */
    width: auto; /* Ancho automático según el contenido, ajustable según necesidades */
    text-align: center; /* Centra el texto para llamar la atención */
    font-weight: bold; /* Texto en negrita para resaltar la importancia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
}
